@charset "utf-8";
/**
*IE 各版本Hack示例 
*
* IE6 only :
*   #someSelector { _color:green; }
*
* IE7 only :
*   *:first-child+html #someSelector {
*   }
*
* IE8 only :
@media \0screen {
     #note {
         width:450px;
     }

     #login, #regist, #about, #registLink, #loginLink {
         display:none;
     }
}

* IE9 only : 
*   :root #someSelector {
*       color:blue;
*   }
*/

/* 双倍Margin BUG */
#header .search button {
    _display: inline;
}

/* 菜单 first-child */
#header .first-menu-cell {
    padding-left: 30px!IMPORTANT;

    background-position: 100px 100px!IMPORTANT;
}

#header .first-menu-cell:hover {
    background-position: -452px -64px!IMPORTANT;
}

/* IE9 神秘BUG */
:root #main {
    position: relative;
    top: -1px;
}
